* {
  font-family: 'Open Sans', sans-serif;
}

:root {
  font-size: 18px;
  background-color: #9dc3fb;
}

.map-bg {
  fill: #9dc3fb;
}

.map {
  text-align: center;
}

svg {
  height: 97vh;
}

h4 {
  margin: 1rem;
}

.municipality-layer {
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  cursor: pointer;
}

.options-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.7rem;
  border: 1px #000 solid;
  font-weight: 800;
  z-index: 1001;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.options-container h4 {
  line-height: 1.1;
  padding: 0 0.5rem;
  width: 100px;
}

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.options button {
  border-radius: 0;
  border: none;
  background-color: inherit;
  padding: 0.3rem;
  text-align: left;
  cursor: pointer;
}

.options button[value="lived"]:hover {
  background-color: #d14545;
  color: #fff;
}

.options button[value="stayed"]:hover {
  background-color: #df8c63;
}

.options button[value="visited"]:hover {
  background-color: #FFDD83;
}

.options button[value="alighted"]:hover {
  background-color: #98DFD6;
}

.options button[value="passed"]:hover {
  background-color: #2c5496;
  color: #fff;
}

.options button[value="never-been"]:hover {
  background-color: #bbbbbb;
  border-radius: 0 0 0.7rem 0.7rem;
}

.tooltip {
  position: absolute;
  padding: 12px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 800;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.level-container {
  font-size: 0.75rem;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  top: 0;
  left: 25px;
}

.level-container h1 {
  width: 100%;
  text-align: center;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 0.7rem;
  width: 12rem;
  border-radius: 10px;
  border: 1px solid #000;
}

.legend span {
  display: inline-block;
  width: 25px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #000;
}

.legend div {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.legend-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.legend-text p {
  white-space: nowrap;
}

.donation {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border: 1px #000 solid;
  border-radius: 10px;
  padding: 0.5rem;
  bottom: 1rem;
  right: 1rem;
  width: 12rem;
  font-size: 0.6rem;
}

#donation-btn input{
  width: 7rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  gap: 0.3rem;
  height: 12rem;
}

.buttons button {
  width: 10rem;
}

.top-right {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.btn {
  text-decoration: none;
  color: #000;
  background-color: white;
  padding: 0.5rem;
  border: 1px #000 solid;
  border-radius: 0.3rem;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.btn:hover {
  background-color: #bbbbbb;
}

#reset:hover {
  background-color: #d14545;
  color: #fff;
}

.about-container {
  text-align: center;
  margin: 2vw 10vw;
}

table {
  margin: auto;
  width: 30rem;
  background-color: #fff;
}

table, th, td {
  padding: 0.3rem;
  border: #000 1px solid;
  border-collapse: collapse;
}

.etivac {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border: none;
  background-color: #9dc3fb;
  color: #9dc3fb;
}

.etivac:hover {
  border: #000 1px solid;
  color: #000;
}

@media only screen and (max-width: 768px) {
  :root {
    font-size: 2vw;
  }

  .options-container {
    font-size: 16px;
  }

  .options-container h4 {
    width: 125px;
  }

  .level-container {
    font-size: 1.2rem;
  }

  .legend {
    padding: 2vw;
    width: 38vw;
  }

  .legend div {
    height: 5vw;
  }

  .legend span {
    width: 3vw;
    height: 2.5vw;
  }

  .donation {
    width: 20vw;
  }

  .donation p {
    font-size: 1rem;
  }

  #donation-btn input {
    width: 18vw;
  }

  .buttons button {
    padding: 1.5vw;
    font-size: 1.2rem;
    border-radius: 1.2vw;
  }

  .top-right {
    height: 30vw;
    right: 1rem;
  }

  .top-right button {
    width: 30vw;
  }

  table {
    width: 75vw;
  }
}
